body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
  width: 100%;
}
.nav {
  margin-left: 1rem;
}
header h1 {
  margin: 0;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.content {
  padding: 2rem;
}

footer {
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.error {
  color: red;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.portfolio-item {
  border: 1px solid #ddd;
  padding: 1rem;
}
.portfolio-item img {
  width: 100%;
  height: auto;
  max-width: 100px;
  display: block;
  margin: 0 auto;
}
/* Media Queries */
@media (max-width: 768px) {
  nav a {
    display: block;
    margin: 1rem 0;
    text-align: center;
  }

  .content {
    padding: 1rem;
  }

  .portfolio-grid {
    grid-template-columns: 1fr;
  }

  header {
    padding: 0.5rem;
  }

  footer {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  nav a {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .content {
    padding: 0.5rem;
  }

  .portfolio-item {
    padding: 0.5rem;
  }
  .portfolio-item img {
    max-width: 80px;
  }
  footer {
    padding: 0.5rem;
    font-size: 0.875rem;
  }
}
